
/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

#root {
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 17%, rgba(217,219,212,1) 17%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 78%;
    height: 95%;
    background-color: white;
    display: flex;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    user-select: none;
    position: relative;
}

.avatar {
    width: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
}

i, svg {
    cursor: pointer;
}


/* col sinistra */

.col-sx {
    width: 38%;
    height: 100%;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    pointer-events: none;
    position: absolute;
}

.col-sx.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    position: relative;
}

.header-sx, .header-dx {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #e9eaea;
    align-items: center;
    padding: 0 10px;
}

.header-sx {
    border-right: 1px solid #dbdbdb;
}

.my-profile, .chat-profile {
    display: flex;
    align-items: center;
}

.my-name {
    font-size: 15px;
    margin-left: 5px;
}

.icons {
    display: flex;
}

.icons svg {
    font-size: 18px;
    color: #51585c;
    margin: 0 8px;
}

.icons svg:nth-child(2){
    margin-left: 15px;
}

.main-sx {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

.allow-not {
    height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.allow-not .bell {
    width: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.allow-not .bell i {
    font-size: 19px;
    color: #8edafc;
}

.allow-top {
    font-size: 15px;
}

.allow-bottom {
    color: #6aa1bb;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

.search-chat {
    height: 50px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-chat form {
    width: calc(100% - 10px);
    height: 70%;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.search-chat form div, .search-chat form input {
    background-color: white;
    border: none;
    border-radius: 12px;
    
}

.search-chat form div {
    width: 20%;
    font-size: 14px;
    color: #b0b1b0;
    border-right: 1px solid #e0dddd;
    border-end-end-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-chat form input {
    width: 80%;
    padding: 0 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.search-chat form input::placeholder, .new-message input::placeholder {
    color: #afb0af;
}

.chats {
    flex-grow: 1;
    overflow-y: scroll;
}

.chat {
    display: flex;
    padding: 10px 18px;
    cursor: pointer;
}

.chat:hover {
    background-color: #e7ebeb;
}

.chat:not(:last-child) {
    border-bottom: 1px solid #f9f9f9;
}

.chat .avatar {
    width: 50px;
}

.chat .chat-text {
    margin-left: 15px;
}

.chat .last-mex {
    width: 260px;
    margin-top: 4px;
    font-size: 14px;
    color: #848585;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
}

.chat .last-mex svg {
    vertical-align: bottom;
    margin-bottom: 1px;
    margin-right: 4px;
}

.header-new-chat {
    height: 15.25%;
    background-color: #31bfa5;
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    color: white;
    padding: 25px;
    user-select: none;
}

.header-new-chat i {
    margin-right: 25px;
}

.main-new-chat {
    height: calc(100% - 150px);
}

.main-new-chat form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
}

.main-new-chat input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 6px 0;
    margin: 20px 0;
}

.main-new-chat .send-new-chat {
    width: 45px;
    aspect-ratio: 1;
    font-size: 19px;
    color: white;
    border-radius: 50%;
    background-color: #0ce85d;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/* col destra */

.col-dx {
    width: 62%;
    height: 100%;
}

.chat-info {
    font-size: 15px;
    margin-left: 15px;
}

.chat-access {
    color: #c7cbcb;
    font-size: 13px;
}

.main-dx {
    height: calc(100% - 60px);
}

.chat-content {
    height: calc(100% - 60px);
    background-image: url(../img/mine.jpg);
    padding: 30px 50px;
    overflow-y: scroll;
}

.line-message {
    margin: 13px 0;
}

.line-message::after {
    clear: both;
    display: block;
    content: "";
}

.line-message .dropdown-icon {
    position: relative;
}

.line-message .dropdown {
    font-size: 14px;
    color: #4a4a4a;
    background-color: white;
    position: absolute;
    padding: 10px 0;
    right: 13px;
    top: 32px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    pointer-events: none;

}

.line-message .message.received .dropdown {
    top: 24px;
    right: -150px;
}

.line-message .message.short .dropdown {
    top: 29px;
}

.line-message .message.short.sent .dropdown {
    left: -70px;
}

.line-message .message.short.received .dropdown {
    top: 21px;
}

.line-message:last-child .message .dropdown.overflow,
.line-message:nth-last-child(2) .message .dropdown.overflow {
    top: -170px;
}

.line-message ul {
    list-style: none;
}

.line-message li {
    padding: 10px 20px;
    cursor: pointer;
}

.line-message li:hover {
    background-color: #f5f5f5;
}

.line-message .dropdown.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.message {
    font-size: 15px;
    padding: 14px 15px;
    padding-right: 50px;
    max-width: 49%;
    border-radius: 18px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message.sent {
    background-color: #d5f9ba;
    float: right;
}

.message.received {
    background-color: white;
    float: left;
}

.message.short {
    padding: 9px 15px;
    padding-right: 100px;
}


.time-message {
    color: #d7d9da;
    font-size: 9px;
    position: absolute;
    bottom: 3px;
    right: 9px;
    display: flex;
    align-items: center;
}

.message.received .time-message {
    right: 13px;
}

.time-message svg {
    margin-left: 3px;
}

.message .icon {
    color: #bdbdbd;
    width: 15px;
    position: absolute;
    right: 12px;
    top: 6px;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 60ms ease-in-out, transform 60ms ease-in-out;
}

.message:hover .icon, .message .icon.active {
    opacity: 1;
    transform: translateX(0);
}

.message.short .icon {
    right: 11px;
    top: 3px;
}

.new-message {
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.new-message svg {
    color: #6b7275;
    font-size: 20px;
}

.new-message input {
    width: 70%;
    height: 70%;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/* debug */
