<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolZap</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="root" class="debug">

        <!-- container -->
        <div class="container">

            <!-- col sinistra -->
            <div class="col-sx">

                <!-- header-sx -->
                <div class="header-sx">

                    <div class="my-profile">
                        <img class="avatar" src="img/avatar_io.jpg" alt="my-avatar">
                        <p class="my-name">
                            Nome Utente
                        </p>
                    </div>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
                <!-- /header-sx -->

                <!-- main-sx -->
                <div class="main-sx">

                    <div class="allow-not">
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="allow-text">
                            <p class="allow-top">
                                Ricevi notifiche di nuovi messaggi
                            </p>
                            <p @click="removeAlert()" href="" class="allow-bottom">
                                Attiva notifiche desktop
                            </p>
                        </div>
                    </div>

                    <div class="search-chat">
                        <form action="">
                            <button type="submit"><i class="fas fa-search"></i></button>
                            <input @keyup="filterChat" v-model="filterValue" type="search" placeholder="Cerca o inizia una nuova chat">
                        </form>
                    </div>

                    <div v-if="filterValue == ''" class="chats">
                        <div v-for="(contact, i) in contacts" class="chat" @click="activeChat(i)">
                            <img class="avatar" :src="urlImg(i)" :alt="contact.name">
                            <div class="chat-name">{{contact.name}}</div>
                        </div>
                    </div>

                    <div v-else class="chats">
                        <div v-for="(contact, i) in filteredContacts" class="chat" @click="activeChatFl(i)">
                            <img class="avatar" :src="urlImgFl(i)" :alt="contact.name">
                            <div class="chat-name">{{contact.name}}</div>
                        </div>
                    </div>



                </div>
                <!-- main-sx -->

            </div>
            <!-- /col sinistra -->

            <!-- col destra -->
            <div class="col-dx">

                <!-- header-dx -->
                <div class="header-dx">

                    <div v-for="(info ,i) in contacts" class="chat-profile" :class="{ active: info.visible }">
                        <img class="avatar" :src="urlImg(i)" :alt="info.name">
                        <div class="chat-info">
                            <p class="chat-name">
                                {{info.name}}
                            </p>
                            <p class="chat-access">
                                Ultimo accesso oggi alle
                            </p>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    
                </div>
                <!-- /header-dx -->

                <!-- main-dx -->
                <div class="main-dx">

                    <div v-for="(chat, i) in contacts" class="chat-content" :class="{ active: chat.visible }">

                        <div v-for="(message, i) in chat.messages" class="line-message">
                            <span class="message" :class="message.status">{{message.message}}<span class="time-message">{{message.date}}</span></span>
                        </div>

                    </div>

                    <div class="new-message">
                        <i class="far fa-smile"></i>
                        <input @keyup.enter="sendMessage()" v-model="newMessage" type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                    
                </div>
                <!-- main-dx -->

            </div>
            <!-- /col destra -->

        </div>
        <!-- /container -->

    </div>
    


    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>